<!doctype html>
<html>
<head>
<title>Your thesis statement is...</title>
<!-- Computer Modern Font (as made famous by LaTeX) -->
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css">
<style>
body {
  font-family: "Computer Modern", serif;
}
</style>
<style>
div.thesis {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
</style>
</head>
<body>
    <div class="thesis">
        <h1>
        {{ thesis }}
        </h1>
    </div>
</body>
</html>
